---
layout: demo
title: CSS
---


<section class="container">
  <h1>IT <span class="text-primary">GIRL</span></h1>
  <p>Las it girls son usuarias
seleccionadas por el staff de cranberrychic por ser un ícono en la moda, tener muchas seguidoras y subir muchos looks de calidad.</p>
  <div class="row text-center">
    <div class="col-xs-6">
      <img src="..." alt="..."><br/>
      <a href="#">30% de descuento</a>
    </div>
    <div class="col-sx-6">
      <img src="..." alt="..."><br/>
      <a href="#">25% de descuento para manos</a>
    </div>
    <hr/>
    <a href="#">Ver toddos los beneficios</a>
  </div>
</section>

<section class="container">
  <h1>SUPER <span class="text-primary">CRANBERRYCHIC</span></h1>
  <p>Las super cranberrychic son usuarias que tienen mucha actividad en el sitio y por lo tanto están dentro del 10% de las usuarias con más seguidoras, este estado se re calcula una vez al mes.</p>
  <div class="row text-center">
    <div class="col-xs-6">
      <img src="..." alt="..."><br/>
      <a href="#">30% de descuento</a>
    </div>
    <div class="col-sx-6">
      <img src="..." alt="..."><br/>
      <a href="#">25% de descuento para manos</a>
    </div>
    <hr/>
    <a href="#">Ver toddos los beneficios</a>
  </div>
</section>

<section class="container">
  <h1>CRANBERRY <span class="text-primary">CHIC</span></h1>
  <p>Las super cranberrychic son usuarias que tienen mucha actividad en el sitio y por lo tanto están dentro del 10% de las usuarias con más seguidoras, este estado se re calcula una vez al mes.</p>
  <div class="row text-center">
    <div class="col-xs-6">
      <img src="..." alt="..."><br/>
      <a href="#">30% de descuento</a>
    </div>
    <div class="col-sx-6">
      <img src="..." alt="..."><br/>
      <a href="#">25% de descuento para manos</a>
    </div>
    <hr/>
    <a href="#">Ver toddos los beneficios</a>
  </div>
</section>