---
layout: home
title: Bootstrap
base_url: "./"
---

<!-- Page content of course! -->
<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>Bootstrap</h1>
    <p class="lead">Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>
    <p>
      <a href="https://github.com/twbs/bootstrap/releases/download/v3.0.2/bootstrap-3.0.2-dist.zip" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.2']);">Download Bootstrap</a>
      <a href="https://github.com/twbs/bootstrap/archive/v3.0.2.zip" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.2']);">Download source</a>
    </p>
  </div>
</main>