<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <%= partial 'includes/header' %>
  </head>
  <body>
    <!-- Page content of course! -->
    <%= yield %>
  </body>
</html>
